bindings/typescript/scip.ts linguist-generated=true
bindings/go/scip/scip.pb.go linguist-generated=true
bindings/rust/src/generated/scip.rs linguist-generated=true
bindings/haskell/src/Proto/**.hs linguist-generated=true
docs/scip.md linguist-generated=true
yarn.lock linguist-generated=true
cmd/scip/tests/reprolang/src/grammar.json linguist-generated=true
cmd/scip/tests/reprolang/src/node-types.json linguist-generated=true
cmd/scip/tests/reprolang/src/parser.c linguist-generated=true
cmd/scip/tests/reprolang/src/tree_sitter/alloc.h linguist-generated=true
cmd/scip/tests/reprolang/src/tree_sitter/array.h linguist-generated=true
cmd/scip/tests/reprolang/src/tree_sitter/parser.h linguist-generated=true
