name: Go

on:
  pull_request:
    paths:
      - '.github/workflows/**'
      - '**.go'
      - '**/go.mod'
      - '**/go.sum'
      - 'cmd/scip/**'
      - 'docs/CLI.md'

jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/asdf
        with:
          golang: true
      - run: go test ./... -v -tags asserts
